# Ingesta Predicci√≥n de la Demanda

## 1. Carga de los Dataset

In [45]:
import pandas as pd
import os, glob, sys

from pyspark import SparkContext, SQLContext
from pyspark.ml.feature import VectorAssembler

from pyspark.sql import SQLContext
from pyspark.sql.types import *


sqlCtx = SQLContext(sc)

In [46]:
def readFiles(path):
    files = [f for f in glob.glob(path + '/*') if os.path.isfile(f)]
    dfEnd = pd.DataFrame([])
    for f in files:
        df = pd.read_csv(f, sep = ';')
        dfEnd = pd.concat([dfEnd, df])  
    return dfEnd

In [47]:
# Ficheros Training
line = '1'
dfTraining = readFiles('./DatosPrediccion/training/')
dfTest = readFiles('./DatosPrediccion/test/')

In [48]:
dfTest.head()

   linea  test_ids_dias  test_npasajeros  test_pred_npasajeros  tramo
0      1            526                8              2.993681      1
1      1            527                9              3.365918      1
2      1            528                7              5.062501      1
3      1            529                1              1.821090      1
4      1            530                1              0.809551      1

## 2. Ingesta de los datos en Hive

In [49]:
dfTraining = sqlCtx.createDataFrame(dfTraining)
dfTest = sqlCtx.createDataFrame(dfTest)

In [50]:
from pyspark.sql import HiveContext
hiveCtx = HiveContext(sc)

In [51]:
dfTraining.write.format("orc").mode("overwrite").saveAsTable("emt_smartbus.prediccion_demanda_training")
dfTest.write.format("orc").mode("overwrite").saveAsTable("emt_smartbus.prediccion_demanda_test")